#content {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 0px;
}

#title {
  margin: 0 24px;
  margin-bottom: 24px;
}

.post-title,
.post-signature,
.post-intro,
.post-content {
  margin: 0 12px;
}

.post {
  border: 1px solid grey;
  border-radius: 2px;
  
  padding-top: 12px;
  padding-bottom: 12px;

  margin: 24px;
}

.post p, .post pre {
  font-size: 16px;
}

.post pre {
  text-align: justify;
  line-height: 20px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.post-content ::ng-deep p {
  margin-top: 16px;
}

.post-signature {
  margin-top: 4px;
}

.post-intro {
  margin: 16px 12px;
}

